<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/views/style.css" rel="stylesheet" type="text/css">
    <title>Gallery Page</title>
</head>



<body>
  <div class="header">
    <img src="views\elanco_logo.png"  alt="logo" class="centreimage" /> 
    <div class="Item2">
      <a href="/gallery">Gallery</a>
    </div>
    <div class="container">
      Previous Submissions
    </div>
      <% if (images && images.length > 0) { %>
        <% images.forEach((image) => { %>
          <div class="container">
            <% if (image && image.data) { %>
            <img src="Processed:image/jpeg;base64, <%= image.data.toString('base64') %>" />
              <img src="data:image/jpeg;base64, <%= image.data.toString('base64') %>" />
            <% } %>
  
            <% if (image && image.FilteredLabels && image.FilteredLabels.length > 0) { %>
              <ul>
                <% image.FilteredLabels.forEach((filtered) => { %>
                  <li><%= filtered.description %> <%= filtered.score %> </li>
                <% }) %>
              </ul>
            <% } %>
          <div>__</div>
            <% if (image && image.sorted && image.sorted.length > 0) { %>
              <ul>
                <% image.sorted.forEach((label) => { %>
                  <li><%= label.description %> <%= label.score %> </li>
                <% }) %>
              </ul>
            <% } %>
  
          </div>
        <% }) %>
      <% } else { %>
        <p>No images found.</p>
      <% } %>  
    </div>




    <div class="secondFooter">
      Elanco Team 1        
    </div>

    










</body>



</html>